
<div class="container">
    <div class="container-fluid">
        <h1 class="text-center mb-3">Todo List by Rohit Kumar Jha</h1>
    </div>
    <app-add-todo (todoAdd)="addTodo($event)" ></app-add-todo>
    <h4>Your Todos</h4>
    <div *ngIf="this.todos.length===0; else elseBlock">No Todos to display</div>
    <ng-template #elseBlock>
    <div *ngFor="let todo of todos">
        <app-todo-item [todo]= "todo" (todoDelete)="deleteTodo($event)"></app-todo-item>
      
    </div>
    </ng-template>

</div>
<!-- <p>todos works!</p>
<p>todos works!</p>
<p>todos works!</p> -->

